{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm">

		</div>
		<div class="col-sm">
		<div class="border rounded bg-white">
					<div class="mb-4 mt-4 ml-4 mr-4">
						<form class="form-signin" method="post">
							{% csrf_token %}
							<h2>Вхід</h2>
							<input type="text" name="username" id="inputUsername" class="form-control mb-3" placeholder="UserName" required autofocus>
							<input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required autofocus>
							{% for field in login_form %}
								{% for error in field.errors %}
									<p style="color: red;">{{error}}</p>
								{% endfor %}
							{% endfor %}

							{% if login_form.non_field_errors %}
								<div style="color: red;">
									<p>{{login_form.non_field_errors}}</p>
								</div>
							{% endif %}
							<button type="submit" class="btn btn-success">
								Sign In
							</button>
						</form>
					</div>
				</div>
		</div>
		<div class="col-sm">

		</div>
	</div>
</div>
{% endblock content %}